@using retecs.RenderPlugin.Entities
<div class="input-control">
    <input type="@Control.Type" readonly="@Readonly"/>
</div>

@code {
    [Parameter]
    public BlazorControl Control { get; set; }

    public int Value {
        get => Control.Value;
        set
        {
            Control.Value = value;
            Control.Change();
        } }

    [Parameter]
    public string Type { get; set; }

    [Parameter]
    public bool Readonly { get; set; }
}