@using retecs.ReteCs.Engine
@using retecs.ReteCs.Entities
@using Component = retecs.ReteCs.Component
@using retecs.Components
@using retecs.RenderPlugin
@using System.Text.Json
@using retecs.BlazorServices
<!--TODO @onresize="@()"-->
<!--TODO Contextmenu -->
<div class="wrapper">
    <div class="node-editor"
         style="overflow: hidden;touch-action: none; height:100%; min-height: 100%; display: block; position: absolute;
          width: 100%; min-width: 100%">
        <ReteArea RenderFragment="@_renderFragment"></ReteArea>
    </div>
</div>
