<div style="@GetStyles()">
    @RenderFragment
</div>
@code {
    [Parameter]
    public RenderFragment RenderFragment { get; set; }

    public bool MouseDown { get; set; }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        Emitter.WindowMouseMove += args =>
        {
            if (MouseDown)
            {
                Translate(args.ClientX, args.ClientY);
            }
        };
    }
}